extends layout

block content
	a(href="https://github.com/ni-c/heimcontrol.js")
		img(style="z-index: 2000; position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")
	div.container
		h1 Login
		include includes/messages
		div.col-md-12
			form#loginform(action="/login", method="POST", role="form")
				span.form-group
					label(for="email") Email:
					input.form-control.login#email(type="email", name="email", placeholder="john.doe@example.com", required="1")
				span.form-group
					label(for="password") Password:
					input.form-control.login#password(type="password", name="password", placeholder="**********", required="1")
				span.checkbox
					label
						input#rememberme(type="checkbox")
						| Remember me
				input.btn.btn-success.btn-login(type="submit", value="Login")