extends layout

block content
	div.container
		h1 Create an account
		include includes/messages
		p
			strong heimcontrol.js 
			| is up and running. To prevent unauthorized access to your installation, you have to create an account on your  
			strong heimcontrol.js 
			| server.
		div.col-md-12
			form(action="/register", method="POST", role="form")
				span.form-group
					label(for="email") Email:
					input.form-control.login#email(type="email", name="email", placeholder="john.doe@example.com", required="1")
				span.form-group
					label(for="password") Password:
					input.form-group.login#password(type="password", name="password", placeholder="**********", required="1")
				span.form-group
					label(for="repeatpassword") Repeat password:
					input.form-group.login#repeatpassword(type="password", name="repeatpassword", placeholder="**********", required="1")
				input.btn.btn-success.btn-login(type="submit", value="Register")