extends layout

block content
	div.container
		ol.breadcrumb
			li Settings
			li heimcontrol.js
		include includes/messages
		div.row
			div.col-md-5
				h2 Select theme
				p Bootstrap compatible themes from 
					a(href="http://bootswatch.com/") Bootswatch
					.
				form(action="/settings/theme", method="POST", role="form")
					span.form-group
						label(for="changetheme") Theme:
						select.form-control(name="theme")
							option(value="default", selected=(theme=="/css/bootstrap.css")) bootstrap.css
							each t in themes
								option(value="#{t}", selected=(theme=="/css/themes/" + t)) #{t}
					p
					input.btn.btn-success(type="submit", value="Select Theme")
						
			div.col-md-5
				h2 Change password
				form(action="/settings/password", method="POST", role="form")
					span.form-group
						label(for="oldpassword") Old Password:
						input.form-control#oldpassword(type="password", name="oldpassword", required="1")
					span.form-group
						label(for="newpassword") New Password:
						input.form-control#newpassword(type="password", name="newpassword", required="1")
					span.form-group
						label(for="repeatnewpassword") Repeat new Password:
						input.form-control#repeatnewpassword(type="password", name="repeatnewpassword", required="1")
					p
					input.btn.btn-success(type="submit", value="Change")

		div.row
			div.col-md-10
				h2 User Management
		
			div.col-md-5
				h3 Users
				table.table.table-striped
					th Email
					th Action
					each u in users
						tr
							td= u.email
							td
								a(href="/settings/user/delete/#{u.email}").btn.btn-xs.btn-danger Delete

			div.col-md-5
				h3 Add a user
				form#adduser(action="/settings/user/create", method="POST", role="form")
					span.form-group
						label(for="email") Email:
						input.form-control(type="email", name="email", required="1")
					span.form-group
						label(for="password") Password:
						input.form-control(type="password", name="password", required="1")
					p
					input.btn.btn-success(type="submit", value="Create")
