script(src="/js/javascriptrrd/binaryXHR.js")
script(src="/js/javascriptrrd/rrdFile.js")
script(src="/js/javascriptrrd/rrdMultiFile.js")
script(src="/js/javascriptrrd/rrdFlotSupport.js")
script(src="/js/javascriptrrd/rrdFlot.js")
script(src="/js/javascriptrrd/rrdFilter.js")

script(src="/js/flot/jquery.flot.min.js")
script(src="/js/flot/jquery.flot.selection.min.js")
script(src="/js/flot/jquery.flot.tooltip.min.js")

script(src="/js/plugin.js?plugin=rpi-monitor&file=statistics")
div.container
	ol.breadcrumb
		li RPi-Monitor
		li Statistics
	i#insertionPoint
	table#infotable(border=0)
		tr
			td
	div#preloader.icon-spinner.icon-spin
	div#mygraph
div#push